*{
    font-family:  'Space Mono', monospace;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 25, 43);
}
.main-container{
    margin-left:150px;
    margin-right:150px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.container{
    margin-top:50px;
    margin-right: 10px;
    margin-left:10px;
    border-radius: 10px;    
    background-color: rgb(20, 37, 61);
    height:600px;
    width:300px;
}
.equillbrium{
    border-radius: 10px;
    margin: 20px;
    height: 250px;
    width: 250px;
}
.heading {
    padding-left:20px;
    padding-bottom: 40px;
    color:white;
  font-size: 10px;
}
.para{
    font-size:15px;
    padding-left: 15px;
    padding-bottom: 40px;
    color:  rgb(72, 97, 133);
}
.value-time,.time{
    display: flex;
    flex: 1;
}
.value{
    display: flex;
    color: rgb(83, 251, 251);
    font-size:15px;
    flex: 1;
    padding-left:20px;
    padding-bottom: 15px;
}
.ethereum{
    height:15px;
    width: 10px;
    padding-right: 7px;
}
.clock{
    padding-left:10px;
    padding-right: 5px;
    height:20px;
    width:20px;
}
.time{
    font-size:15px;
    color:rgb(72, 97, 133);
}
hr{
    margin: 10px 30px;
    color:rgb(72, 97, 133);
    outline: none;
}
.creator{
    display: flex;
}
.creator-pic{
    padding-left:20px;
    padding-top: 10px;
    height:30px;
    width: 30px;
}
.credits{
    padding-left: 10px;
    font-size:15px;
    padding-top: 15px;
    display: flex;
    color:rgb(72, 97, 133) ;
}
.name{
    color: rgb(255, 255, 255);
}
